.Nav {
    position: fixed;
    height: 60px;
    width: 100%;
    background: white;
    color: #282c34;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 80px;
    top: 0 ;
    z-index: 4;
}
.profilepic {
    border-radius: 17px;
    height: 34px;
    width: 34px;
    position: relative;
    bottom: 3px;
}
.page {
    padding: 0 20px;
    position: relative;
    top: 4px;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.5s ease-in-out;
}
.page:hover {
    color: #2853d4;
}
.page::after {
    transform: scale(0, 1);
    transform-origin: 0 100%;
    transition: transform 0.5s ease;
    width: 50%;
    height: 2px;
    background: #2853d4;
    position: absolute;
    bottom: -6px;
    left: 20px;
}
#ScoreBoard::after {
    width: 67% !important;
}

.page:hover::after{
    content: "";
    height: 2px;
    background: #2853d4;
    position: absolute;
    bottom: -6px;
    left: 20px;
    transform: scale(1,1);
}


.NavBar {
    display: flex;
    align-items: center;
    justify-content: center;
}

#Home:hover::after{
    width: 50%;
}
#ScoreBoard:hover::after{
    width: 67%;
}

#logo{
    width: 50px;
    position: relative;
    right: 60px;
}

