.Nav2 {
    position: fixed;
    top: 141px;
    height: 50px;
    width: 100%;
    background: white;
    color: #282c34;
    display: flex;
    padding: 0 10px 10px 10px;
    z-index: 4;
}

.page2 {
    padding: 0 20px;
    position: relative;
    top: 4px;
    text-decoration: none;
    font-size: 1rem;
    transition: 0.5s ease-in-out;
}
.page2:hover {
    color: #2853d4;
}
.page2::after {
    transform: scale(0, 1);
    transform-origin: 0 100%;
    transition: transform 0.5s ease;
    width: 65%;
    height: 2px;
    background: #2853d4;
    position: absolute;
    bottom: -6px;
    left: 20px;
}

.page2:hover::after{
    content: "";
    height: 2px;
    width: 65%;
    background: #2853d4;
    position: absolute;
    bottom: -6px;
    left: 20px;
    transform: scale(1,1);
}


.NavBar {
    display: flex;
    align-items: center;
    justify-content: center;
}

