img {
    width: 50px;
}

.image3 {
    width: 30px;
}

.grid::after {
    content: "";
    width: 95%;
    height: 2px;
    background: #d8d8da;
    position: relative;
    left: 22px;
    top: -3px;
}

.grid{
    align-items: center;
    height: 100%
}
.card {
    width: 97%;
    height: 200px;
    margin: 10px auto;
    max-width: 800px;
    align-content: center;
}
.MuiButton-root {
    position: absolute;
    top: -3px;
    left: 5px;
}