.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 500px;
  margin: auto;
}

.App-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.App-title h1 {
  margin: 0;
  margin-right: 20px;
  font-size: 3em;
}

