* {
    overflow: hidden;
}
html, body {
  font-family: 'Product Sans', sans-serif;
  font-weight: 600;
  background: rgba(33, 33, 33, 1);
  height: 99%;
  width: 100%;
  display: flex;
  flex-flow: row wrap;
}
body > * {

}
main {
  width: 66%;
  height: 90%;
}
.me{
    width: 100%;
    height: 100%;
}

guests {
  float: right;
  width: 33%;
  height: 90%;
  display: flex;
  flex-direction: row ;
  flex-wrap: wrap;
  align-content: center;
  justify-content:space-evenly;
  flex-flow: row wrap;
}
.guest {
  background: rgba(62, 62, 62, 1);
  width: 45%;
  height: 20%;
  margin: 5px;
  border-radius: 10px;
}



footer {
  width: 100%;
  height: 10%;
}

.mic {
  position: relative;
  right:5px;
  top: -25px;
  float: right;
}
#mic {
  position: relative;
  right:5px;
  top: 10px; !important;
  float: right;
}


#pin {
    position: relative;
    top: 570px;
    right: 150px;
}

.prof {
    width: 100px;
    z-index: 0;
    position: relative;
    left: 60px;
    bottom: 50px;
}



.mprof {
    position: relative;
    left: 300px;
    top: 250px;
    width: 160px;
}

#anchor {
    position: relative;
    left: 430px;
    top: 190px;
    visibility: hidden;
    z-index: 2;
}
.anchor{
    position: relative;
    top: 20px;
    left: 60px;
    z-index: 1;
    visibility: hidden;
}
#me:hover #anchor {
    visibility: visible;
    opacity: 0.5;
}

#curry:hover ~ #anchor {
    visibility: visible;
    opacity: 0.8;
}

#anchor:hover {
    visibility: visible;
    opacity: 0.8 !important;
}

#guest1:hover #anchor1 {
    visibility: visible;
    opacity: 0.5;
}

#cena:hover ~ #anchor1 {
    visibility: visible;
    opacity: 0.8 !important;
}

#anchor1:hover {
    visibility: visible;
    opacity: 0.8 !important;
}

#guest2:hover #anchor2 {
    visibility: visible;
    opacity: 0.5;
}

#pine:hover ~ #anchor2 {
    visibility: visible;
    opacity: 0.8 !important;
}

#anchor2:hover {
    visibility: visible;
    opacity: 0.8 !important;
}

#guest3:hover #anchor3 {
    visibility: visible;
    opacity: 0.5;
}

#jesus:hover ~ #anchor3 {
    visibility: visible;
    opacity: 0.8 !important;
}

#anchor3:hover {
    visibility: visible;
    opacity: 0.8 !important;
}

#guest4:hover #anchor4 {
    visibility: visible;
    opacity: 0.5;
}

#wok:hover ~ #anchor4 {
    visibility: visible;
    opacity: 0.8 !important;
}

#anchor4:hover {
    visibility: visible;
    opacity: 0.8 !important;
}

#guest5:hover #anchor5 {
    visibility: visible;
    opacity: 0.5;
}

#chad:hover ~ #anchor5 {
    visibility: visible;
    opacity: 0.8 !important;
}

#anchor5:hover {
    visibility: visible;
    opacity: 0.8 !important;
}

.name {
    color: white;
    position: relative;
    right: 90px;
    bottom: 45px;
    z-index: 2;
}





@media only screen and (max-width: 1200px) {
  .guest {
    width: 80%;
    height: 18%;
  }

  #guest5 {
  width:80%;
  }

  .prof {
    position: relative;
    left: 5px;
    bottom: 25px;
    z-index: 0;
}
  .anchor {
    position: relative;
    left: 110px;
    top: -60px;
    z-index: 1;
  }

  .name {
    position: relative;
    right: 200px;
    top: -10px;
    z-index: 2;
}
}
@media only screen and (max-width: 751px) {
    guests {
        display: none;
    }
    #curry {
    position: absolute;
    left: 38%;
    top: 40%;
    }
    .mic {
     position: absolute;
     top: 2%;
     left:95%;
    }
}
@media only screen and (max-width: 945px) {
    icon2 {
    display: none;
    }
}
@media only screen and (max-width: 656px) {
    icon0 {
    display: none;
    }
    icon1 {
        position: absolute;
        top: 90%;
        left: 16%;
    }
}
footer {
    color: white;
    word-spacing: 4px;
    letter-spacing: 1px;
}

time {
    letter-spacing: 2px;
}

icon0 {
    position: relative;
    left: 10px;
    top: 16px;
}



icon {
    display: flex;
    justify-content: center;
}

footer {
    display: flex;
    justify-content: space-between;
}

#end {
    width: 72px;
}

#6 {
    position: relative;
    top: 3px;
}

.prom {
    background: rgba(62, 62, 62, 1);
    color:white;
    border-radius: 5px;
    height: 16px;
    letter-spacing: normal;
    word-spacing: normal;
    text-align: center;
    font-size: 13px;
    font-weight: lighter;
    padding: 0 5px;
    position: absolute;
    top: 87%;
    display: none;

}

prompt {
    overflow: visible;
}

#mutep {
    left: 32%;
}
#camp {
    left: 37%;
}
#ccp {
    left: 42%;
}
#presentp {
    left: 47%;
}
#dotsp {
    left: 52%;
}
#endp {
    left: 57.6%;
}
#ip {
    left: 76%;
}
#sp {
    left: 80.4%;
}
#chatp {
    left: 83.7%;
}
#cubep {
    left: 90%;
}
#lockp {
    left: 93%;
    width: 75px;

}

#mute:hover ~ #mutep
{
 display: block;
}

#cam:hover ~ #camp
{
 display: block;
}

#cc:hover ~ #ccp
{
 display: block;
}

#present:hover ~ #presentp
{
 display: block;
}

#dots:hover ~ #dotsp
{
 display: block;
}

#end:hover ~ #endp
{
 display: block;
}

#i:hover ~ #ip
{
 display: block;
}

#s:hover ~ #sp
{
 display: block;
}

#chat:hover ~ #chatp
{
 display: block;
}

#cube:hover ~ #cubep
{
 display: block;
}

#lock:hover ~ #lockp
{
 display: block;
}

#unmute {
    position: absolute;
    left: 34.71%;
    top: 89.8%;
    height: 46px;
    width: 46px;
    display: none;
}



