.App {
  text-align: center;
}

.container {
  justify-content: center;
  display: flex;
  margin-top: 65px;
  height: 100%;
}
.news {
  max-width: 750px;
  height: 100%;
  width: 60%;
  background: white;
  align-items: center;
  justify-content: center;
  border-radius: 15px;
  margin: 5px 5px 0 10px;
}
.scores {
  max-width: 700px;
  min-width: 500px;
  background: white;
  align-items: center;
  justify-content: center;
  width: 40%;
  height: 100%;
  border-radius: 15px;
  margin: 5px;
}
.wrapper {
  position: relative;
  top: 10px;
  left: 20px;
}
.wrapper::after {
  display: inline-block;
  content: "";
  width: 95%;
  height: 2px;
  background: #d8d8da;
  position: relative;
  top: -15px;
}

@media screen and (max-width: 1000px) {
  .scores {
    display: none;
  }
  .news{
    width: 100%;
    margin: 5px 5px;
  }
}



